<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bobomee.android.designpatterns">

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".adapter.AdapterActivity"/>
    <activity android:name=".prototype.CloneActivity"/>
    <activity android:name=".stragety.TranficCal"/>
    <activity android:name=".state.StateActivity"/>
    <activity android:name=".chain.ChainActivity"/>
    <activity android:name=".command.CommandActivity"/>
    <activity android:name=".memento.NoteActivity"/>
    <activity android:name=".observer.ObservableActivity"/>
    <activity android:name=".iterator.IteratorActivity"/>
    <activity android:name=".template.TemplateActivity"/>
    <activity android:name=".visitor.VisitorAcitivity"/>
    <activity android:name=".mediator.MediatorActivity"/>
    <activity android:name=".proxy.ProxyActivity"/>
    <activity android:name=".composite.CompositeActivity"/>
    <activity android:name=".decorator.DecoratorActivity"/>
    <activity android:name=".flyweight.FlyweightActivity"/>
    <activity android:name=".facade.FacadeActivity"/>
    <activity android:name=".bridge.BridgeActivity"/>
    <activity android:name=".factorymethod.FactoryMethodActivity"/>
    <activity android:name=".abstactfactory.AbstractFactoryActivity"/>
    <activity android:name=".interpreter.InterpreterActivity"/>
    <activity android:name=".singleton.SingletonActivity"/>
    <activity android:name=".builder.BuilderActivity"/>
  </application>

</manifest>